# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config QMI8658
	bool "QMI8658 sensor support"
	default y
	depends on DT_HAS_QST_QMI8658_ENABLED
	select GPIO
	help
	  Enable QMI8658 sensor